---
const platform = "github";
const username = "withastro";
const currentYear = new Date().getFullYear() 
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>! All rights reserved <small>&copy; at {currentYear}</small>.</p>
  
</footer>